@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
*{
    font-family: 'Red Hat Display', sans-serif;


}

body{
    width: 1440px;
    background: url("./images/pattern-background-desktop.svg") no-repeat;
}

.contenedor{
    margin: 0 auto;
    width: 450px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    text-align: center;
}

.imagen{
    border-radius: 20px 20px 0px 0px;
}

section{
    width: 350px;
}

section.texto{
    text-align: center;

}

section p{
    font-size: 16px;
}

.icono{
    float: left;
    margin-right: 15px;
}

.columna1{
    background: hsl(225, 100%, 98%);
    border-radius: 10px;
    padding: 15px;
    display: flex;
    align-items: center;
    margin: 15px ;
    justify-content: space-evenly;
    margin-top: 60px;
}

p{
    margin: 0px;
}

h2{
    margin: 0px;
}

.boton1 {
    background-color: hsl(245, 75%, 52%); /* Green */
    border-radius: 10px;
    color: white;
    padding: 8px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 15px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }

  .boton2{
      margin-top: 20px;
      color: hsl(224, 23%, 55%);
  }

  h4{
      margin: 0px;
  }

  a{
      margin-left: 30px;
  }